@using ZAVOD_KZZ.Helpers.Translations
@model IEnumerable<ZAVOD_KZZ.Core.Models.LocalGovernmentAdministration>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<table class="table table-striped table-bordered w-auto small" id="localGovernmentStructure" style="width:100%">
    <thead>
        <tr>
            <th>@TranslationsLabels.Name</th>
            <th>Broj naselja</th>
            <th>Gustoća naselja <small>(br.nas/1000km<sup>2</sup>)</small></th>
            <th>Broj stanovnika (2011.)</th>
            <th>Površina km<sup>2</sup></th>
            <th>Gustoća naseljenosti <small>(br.st/km<sup>2</sup>)</small></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettlementCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettlementDensity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Population2011)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurfaceArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PopulationDensity2011)
            </td>
        </tr>
        }
    </tbody>
</table>